{% extends 'home/base.html' %}

{% block body %}
<div data-elementor-type="wp-post" data-elementor-id="171" class="elementor elementor-171"
    data-elementor-post-type="envato_tk_templates">
    <section
        class="elementor-section elementor-top-section elementor-element elementor-element-a5eb9a9 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
        data-id="a5eb9a9" data-element_type="section"
        data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
        <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-c33d21c"
                data-id="c33d21c" data-element_type="column"
                data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;background_motion_fx_motion_fx_scrolling&quot;:&quot;yes&quot;,&quot;background_motion_fx_devices&quot;:[&quot;desktop&quot;,&quot;tablet&quot;,&quot;mobile&quot;]}">
                <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-background-overlay"></div>
                    <section
                        class="elementor-section elementor-inner-section elementor-element elementor-element-cefd215 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                        data-id="cefd215" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-99422d2"
                                data-id="99422d2" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-4fa2c03 elementor-invisible elementor-widget elementor-widget-heading"
                                        data-id="4fa2c03" data-element_type="widget"
                                        data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}"
                                        data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h1 class="elementor-heading-title elementor-size-default">Contact us
                                            </h1>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-d63a8c0 elementor-invisible elementor-widget elementor-widget-heading"
                                        data-id="d63a8c0" data-element_type="widget"
                                        data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;,&quot;_animation_delay&quot;:200}"
                                        data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h3 class="elementor-heading-title elementor-size-default">Start the
                                                conversation to established good relationship and business.</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
    <section
        class="elementor-section elementor-top-section elementor-element elementor-element-6625aed elementor-section-boxed elementor-section-height-default elementor-section-height-default"
        data-id="6625aed" data-element_type="section">
        <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-f76f156 elementor-invisible"
                data-id="f76f156" data-element_type="column"
                data-settings="{&quot;animation&quot;:&quot;fadeInLeft&quot;}">
                <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-b63506c elementor-widget elementor-widget-heading"
                        data-id="b63506c" data-element_type="widget" data-widget_type="heading.default">
                        <div class="elementor-widget-container">
                            <h6 class="elementor-heading-title elementor-size-default">Get in touch</h6>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-c4c1aef elementor-widget elementor-widget-heading"
                        data-id="c4c1aef" data-element_type="widget" data-widget_type="heading.default">
                        <div class="elementor-widget-container">
                            <h2 class="elementor-heading-title elementor-size-default">Get in touch and let us know
                                how we can help.</h2>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-70b6838 elementor-widget elementor-widget-text-editor"
                        data-id="70b6838" data-element_type="widget" data-widget_type="text-editor.default">
                        <div class="elementor-widget-container">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec
                                ullamcorper mattis, pulvinar dapibus leo.</p>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-d2fe02e elementor-widget-divider--view-line elementor-widget elementor-widget-divider"
                        data-id="d2fe02e" data-element_type="widget" data-widget_type="divider.default">
                        <div class="elementor-widget-container">
                            <div class="elementor-divider">
                                <span class="elementor-divider-separator">
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-b2d26df elementor-view-stacked elementor-position-left elementor-mobile-position-left elementor-shape-circle elementor-vertical-align-top elementor-widget elementor-widget-icon-box"
                        data-id="b2d26df" data-element_type="widget" data-widget_type="icon-box.default">
                        <div class="elementor-widget-container">
                            <link rel="stylesheet"
                                href="../static/plugins/elementor/assets/css/widget-icon-box.min.css">
                            <div class="elementor-icon-box-wrapper">
                                <div class="elementor-icon-box-icon">
                                    <span class="elementor-icon elementor-animation-">
                                        <i aria-hidden="true" class="mdi mdi-map-marker"></i> </span>
                                </div>
                                <div class="elementor-icon-box-content">
                                    <div class="elementor-icon-box-title">
                                        <span>
                                            Head Office </span>
                                    </div>
                                    <p class="elementor-icon-box-description">
                                        Jln Cempaka Wangi No 22 </br>
                                        Jakarta - Indonesia </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-1e349f4 elementor-view-stacked elementor-position-left elementor-mobile-position-left elementor-shape-circle elementor-vertical-align-top elementor-widget elementor-widget-icon-box"
                        data-id="1e349f4" data-element_type="widget" data-widget_type="icon-box.default">
                        <div class="elementor-widget-container">
                            <div class="elementor-icon-box-wrapper">
                                <div class="elementor-icon-box-icon">
                                    <span class="elementor-icon elementor-animation-">
                                        <i aria-hidden="true" class="mdi mdi-email-check"></i> </span>
                                </div>
                                <div class="elementor-icon-box-content">
                                    <div class="elementor-icon-box-title">
                                        <span>
                                            Email us </span>
                                    </div>
                                    <p class="elementor-icon-box-description">
                                        support@yourdomain.tld </br>
                                        hello@yourdomain.tld </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-4767401 elementor-view-stacked elementor-position-left elementor-mobile-position-left elementor-shape-circle elementor-vertical-align-top elementor-widget elementor-widget-icon-box"
                        data-id="4767401" data-element_type="widget" data-widget_type="icon-box.default">
                        <div class="elementor-widget-container">
                            <div class="elementor-icon-box-wrapper">
                                <div class="elementor-icon-box-icon">
                                    <span class="elementor-icon elementor-animation-">
                                        <i aria-hidden="true" class="mdi mdi-phone"></i> </span>
                                </div>
                                <div class="elementor-icon-box-content">
                                    <div class="elementor-icon-box-title">
                                        <span>
                                            Let's Talk </span>
                                    </div>
                                    <p class="elementor-icon-box-description">
                                        Phone : +6221.2002.2012 </br>
                                        Fax : +6221.2002.2013 </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-da0d8e9 elementor-invisible"
                data-id="da0d8e9" data-element_type="column"
                data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;fadeInRight&quot;}">
                <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-8e6915b elementor-widget elementor-widget-heading"
                        data-id="8e6915b" data-element_type="widget" data-widget_type="heading.default">
                        <div class="elementor-widget-container">
                            <h2 class="elementor-heading-title elementor-size-default">Send us a message</h2>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-9817170 elementor-widget elementor-widget-text-editor"
                        data-id="9817170" data-element_type="widget" data-widget_type="text-editor.default">
                        <div class="elementor-widget-container">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec
                                ullamcorper mattis, pulvinar dapibus leo.</p>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-faa7c74 elementor-button-align-stretch elementor-widget elementor-widget-form"
                        data-id="faa7c74" data-element_type="widget"
                        data-settings="{&quot;step_next_label&quot;:&quot;Next&quot;,&quot;step_previous_label&quot;:&quot;Previous&quot;,&quot;button_width&quot;:&quot;100&quot;,&quot;step_type&quot;:&quot;number_text&quot;,&quot;step_icon_shape&quot;:&quot;circle&quot;}"
                        data-widget_type="form.default">
                        <div class="elementor-widget-container">
                            <form class="elementor-form" method="post" name="New Form">
                                <input type="hidden" name="post_id" value="171" />
                                <input type="hidden" name="form_id" value="faa7c74" />
                                <input type="hidden" name="referer_title" value="Contact us" />

                                <input type="hidden" name="queried_id" value="171" />

                                <div class="elementor-form-fields-wrapper elementor-labels-above">
                                    <div
                                        class="elementor-field-type-text elementor-field-group elementor-column elementor-field-group-name elementor-col-50">
                                        <label for="form-field-name" class="elementor-field-label">
                                            Name </label>
                                        <input size="1" type="text" name="form_fields[name]" id="form-field-name"
                                            class="elementor-field elementor-size-md  elementor-field-textual"
                                            placeholder="Name">
                                    </div>
                                    <div
                                        class="elementor-field-type-text elementor-field-group elementor-column elementor-field-group-field_629fcc8 elementor-col-50">
                                        <label for="form-field-field_629fcc8" class="elementor-field-label">
                                            Company </label>
                                        <input size="1" type="text" name="form_fields[field_629fcc8]"
                                            id="form-field-field_629fcc8"
                                            class="elementor-field elementor-size-md  elementor-field-textual"
                                            placeholder="Company">
                                    </div>
                                    <div
                                        class="elementor-field-type-tel elementor-field-group elementor-column elementor-field-group-email elementor-col-50 elementor-field-required">
                                        <label for="form-field-email" class="elementor-field-label">
                                            Phone </label>
                                        <input size="1" type="tel" name="form_fields[email]" id="form-field-email"
                                            class="elementor-field elementor-size-md  elementor-field-textual"
                                            placeholder="Phone" required="required" aria-required="true"
                                            pattern="[0-9()#&amp;+*-=.]+"
                                            title="Only numbers and phone characters (#, -, *, etc) are accepted.">

                                    </div>
                                    <div
                                        class="elementor-field-type-email elementor-field-group elementor-column elementor-field-group-field_c7e017b elementor-col-50 elementor-field-required">
                                        <label for="form-field-field_c7e017b" class="elementor-field-label">
                                            Email </label>
                                        <input size="1" type="email" name="form_fields[field_c7e017b]"
                                            id="form-field-field_c7e017b"
                                            class="elementor-field elementor-size-md  elementor-field-textual"
                                            placeholder="Email" required="required" aria-required="true">
                                    </div>
                                    <div
                                        class="elementor-field-type-text elementor-field-group elementor-column elementor-field-group-field_d707a6e elementor-col-100 elementor-field-required">
                                        <label for="form-field-field_d707a6e" class="elementor-field-label">
                                            Subject </label>
                                        <input size="1" type="text" name="form_fields[field_d707a6e]"
                                            id="form-field-field_d707a6e"
                                            class="elementor-field elementor-size-md  elementor-field-textual"
                                            placeholder="Subject" required="required" aria-required="true">
                                    </div>
                                    <div
                                        class="elementor-field-type-textarea elementor-field-group elementor-column elementor-field-group-message elementor-col-100">
                                        <label for="form-field-message" class="elementor-field-label">
                                            Message </label>
                                        <textarea class="elementor-field-textual elementor-field  elementor-size-md"
                                            name="form_fields[message]" id="form-field-message" rows="4"
                                            placeholder="Message"></textarea>
                                    </div>
                                    <div
                                        class="elementor-field-group elementor-column elementor-field-type-submit elementor-col-100 e-form__buttons">
                                        <button type="submit" class="elementor-button elementor-size-md">
                                            <span>
                                                <span class="elementor-align-icon-left elementor-button-icon">
                                                    <i aria-hidden="true" class="far fa-envelope"></i> </span>
                                                <span class="elementor-button-text">Send Message</span>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section
        class="elementor-section elementor-top-section elementor-element elementor-element-9d83bc7 elementor-section-full_width elementor-section-height-default elementor-section-height-default elementor-invisible"
        data-id="9d83bc7" data-element_type="section"
        data-settings="{&quot;animation&quot;:&quot;fadeIn&quot;,&quot;animation_delay&quot;:200}">
        <div class="elementor-container elementor-column-gap-no">
            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-65d9e5b"
                data-id="65d9e5b" data-element_type="column">
                <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-f2b3d34 elementor-widget elementor-widget-google_maps"
                        data-id="f2b3d34" data-element_type="widget" data-widget_type="google_maps.default">
                        <div class="elementor-widget-container">
                            <div class="elementor-custom-embed">
                                <iframe loading="lazy"
                                    src="https://maps.google.com/maps?q=London%20Eye%2C%20London%2C%20United%20Kingdom&amp;t=m&amp;z=14&amp;output=embed&amp;iwloc=near"
                                    title="London Eye, London, United Kingdom"
                                    aria-label="London Eye, London, United Kingdom"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


{% endblock %}