{% extends 'home/base.html' %}


{% block body %}


<div data-elementor-type="wp-post" data-elementor-id="250" class="elementor elementor-250"
    data-elementor-post-type="envato_tk_templates">
    <section
        class="elementor-section elementor-top-section elementor-element elementor-element-58f2c19 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
        data-id="58f2c19" data-element_type="section"
        data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
        <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-11fef85"
                data-id="11fef85" data-element_type="column"
                data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;background_motion_fx_motion_fx_scrolling&quot;:&quot;yes&quot;,&quot;background_motion_fx_devices&quot;:[&quot;desktop&quot;,&quot;tablet&quot;,&quot;mobile&quot;]}">
                <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-background-overlay"></div>
                    <section
                        class="elementor-section elementor-inner-section elementor-element elementor-element-029fa29 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                        data-id="029fa29" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-735e76c"
                                data-id="735e76c" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-1191d2c elementor-invisible elementor-widget elementor-widget-heading"
                                        data-id="1191d2c" data-element_type="widget"
                                        data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}"
                                        data-widget_type="heading.default">
                                        <div class="elementor-widget-container">

                                            <h1 class="elementor-heading-title elementor-size-default">FAQ</h1>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-7907ec3 elementor-invisible elementor-widget elementor-widget-heading"
                                        data-id="7907ec3" data-element_type="widget"
                                        data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;,&quot;_animation_delay&quot;:200}"
                                        data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h3 class="elementor-heading-title elementor-size-default">Frequently
                                                Ask Questions
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
    <section
        class="elementor-section elementor-top-section elementor-element elementor-element-862c253 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
        data-id="862c253" data-element_type="section">
        <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-2dbe242"
                data-id="2dbe242" data-element_type="column">
                <div class="elementor-widget-wrap elementor-element-populated">
                    <section
                        class="elementor-section elementor-inner-section elementor-element elementor-element-63e94fa elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                        data-id="63e94fa" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-bd220fb elementor-invisible"
                                data-id="bd220fb" data-element_type="column"
                                data-settings="{&quot;animation&quot;:&quot;fadeInDown&quot;,&quot;animation_delay&quot;:200}">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-c446e71 elementor-widget elementor-widget-heading"
                                        data-id="c446e71" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h6 class="elementor-heading-title elementor-size-default">Common
                                                Questions</h6>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-8738802 elementor-widget elementor-widget-heading"
                                        data-id="8738802" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h2 class="elementor-heading-title elementor-size-default">Most Popular
                                                Questions</h2>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-a9adf30 elementor-widget elementor-widget-text-editor"
                                        data-id="a9adf30" data-element_type="widget"
                                        data-widget_type="text-editor.default">
                                        <div class="elementor-widget-container">

                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
                                                tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section
                        class="elementor-section elementor-inner-section elementor-element elementor-element-7d2be9f elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-invisible"
                        data-id="7d2be9f" data-element_type="section"
                        data-settings="{&quot;animation&quot;:&quot;fadeIn&quot;,&quot;animation_delay&quot;:300}">
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-6543a71"
                                data-id="6543a71" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-1c5413c elementor-position-left elementor-mobile-position-left elementor-view-default elementor-vertical-align-top elementor-widget elementor-widget-icon-box"
                                        data-id="1c5413c" data-element_type="widget"
                                        data-widget_type="icon-box.default">
                                        <div class="elementor-widget-container">
                                            <link rel="stylesheet"
                                                href="../static/plugins/elementor/assets/css/widget-icon-box.min.css">
                                            <div class="elementor-icon-box-wrapper">
                                                <div class="elementor-icon-box-icon">
                                                    <span class="elementor-icon elementor-animation-">
                                                        <i aria-hidden="true" class="mdi mdi-help-circle-outline"></i>
                                                    </span>
                                                </div>
                                                <div class="elementor-icon-box-content">
                                                    <div class="elementor-icon-box-title">
                                                        <span>
                                                            What is ByteSkill? </span>
                                                    </div>
                                                    <p class="elementor-icon-box-description">
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                                        do eiusmod tempor incididunt ut labore et dolore magna
                                                        aliqua, ut enim ad minim veniam. </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-be55e8e"
                                data-id="be55e8e" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-beabddd elementor-position-left elementor-mobile-position-left elementor-view-default elementor-vertical-align-top elementor-widget elementor-widget-icon-box"
                                        data-id="beabddd" data-element_type="widget"
                                        data-widget_type="icon-box.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-icon-box-wrapper">
                                                <div class="elementor-icon-box-icon">
                                                    <span class="elementor-icon elementor-animation-">
                                                        <i aria-hidden="true" class="mdi mdi-help-circle-outline"></i>
                                                    </span>
                                                </div>
                                                <div class="elementor-icon-box-content">
                                                    <div class="elementor-icon-box-title">
                                                        <span>
                                                            How do I register on ByteSkill? </span>
                                                    </div>
                                                    <p class="elementor-icon-box-description">
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                                        do eiusmod tempor incididunt ut labore et dolore magna
                                                        aliqua, ut enim ad minim veniam. </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section
                        class="elementor-section elementor-inner-section elementor-element elementor-element-cdd9b6e elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-invisible"
                        data-id="cdd9b6e" data-element_type="section"
                        data-settings="{&quot;animation&quot;:&quot;fadeIn&quot;,&quot;animation_delay&quot;:350}">
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-a281cc4"
                                data-id="a281cc4" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-bfcbc7a elementor-position-left elementor-mobile-position-left elementor-view-default elementor-vertical-align-top elementor-widget elementor-widget-icon-box"
                                        data-id="bfcbc7a" data-element_type="widget"
                                        data-widget_type="icon-box.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-icon-box-wrapper">
                                                <div class="elementor-icon-box-icon">
                                                    <span class="elementor-icon elementor-animation-">
                                                        <i aria-hidden="true" class="mdi mdi-help-circle-outline"></i>
                                                    </span>
                                                </div>
                                                <div class="elementor-icon-box-content">
                                                    <div class="elementor-icon-box-title">
                                                        <span>
                                                            Do ByteSkill courses come with certificates? </span>
                                                    </div>
                                                    <p class="elementor-icon-box-description">
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                                        do eiusmod tempor incididunt ut labore et dolore magna
                                                        aliqua, ut enim ad minim veniam. </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-03b2ea3"
                                data-id="03b2ea3" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-37ec631 elementor-position-left elementor-mobile-position-left elementor-view-default elementor-vertical-align-top elementor-widget elementor-widget-icon-box"
                                        data-id="37ec631" data-element_type="widget"
                                        data-widget_type="icon-box.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-icon-box-wrapper">
                                                <div class="elementor-icon-box-icon">
                                                    <span class="elementor-icon elementor-animation-">
                                                        <i aria-hidden="true" class="mdi mdi-help-circle-outline"></i>
                                                    </span>
                                                </div>
                                                <div class="elementor-icon-box-content">
                                                    <div class="elementor-icon-box-title">
                                                        <span>
                                                            Can I access ByteSkill courses at any time? </span>
                                                    </div>
                                                    <p class="elementor-icon-box-description">
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                                        do eiusmod tempor incididunt ut labore et dolore magna
                                                        aliqua, ut enim ad minim veniam. </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section
                        class="elementor-section elementor-inner-section elementor-element elementor-element-e7e515b elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-invisible"
                        data-id="e7e515b" data-element_type="section"
                        data-settings="{&quot;animation&quot;:&quot;fadeIn&quot;,&quot;animation_delay&quot;:375}">
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-1688564"
                                data-id="1688564" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-8f02e0f elementor-position-left elementor-mobile-position-left elementor-view-default elementor-vertical-align-top elementor-widget elementor-widget-icon-box"
                                        data-id="8f02e0f" data-element_type="widget"
                                        data-widget_type="icon-box.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-icon-box-wrapper">
                                                <div class="elementor-icon-box-icon">
                                                    <span class="elementor-icon elementor-animation-">
                                                        <i aria-hidden="true" class="mdi mdi-help-circle-outline"></i>
                                                    </span>
                                                </div>
                                                <div class="elementor-icon-box-content">
                                                    <div class="elementor-icon-box-title">
                                                        <span>
                                                            Is there tutor support available on ByteSkill? </span>
                                                    </div>
                                                    <p class="elementor-icon-box-description">
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                                        do eiusmod tempor incididunt ut labore et dolore magna
                                                        aliqua, ut enim ad minim veniam. </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-2b80bf6"
                                data-id="2b80bf6" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-9c8c307 elementor-position-left elementor-mobile-position-left elementor-view-default elementor-vertical-align-top elementor-widget elementor-widget-icon-box"
                                        data-id="9c8c307" data-element_type="widget"
                                        data-widget_type="icon-box.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-icon-box-wrapper">
                                                <div class="elementor-icon-box-icon">
                                                    <span class="elementor-icon elementor-animation-">
                                                        <i aria-hidden="true" class="mdi mdi-help-circle-outline"></i>
                                                    </span>
                                                </div>
                                                <div class="elementor-icon-box-content">
                                                    <div class="elementor-icon-box-title">
                                                        <span>
                                                            Are ByteSkill courses suitable for beginners? </span>
                                                    </div>
                                                    <p class="elementor-icon-box-description">
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                                        do eiusmod tempor incididunt ut labore et dolore magna
                                                        aliqua, ut enim ad minim veniam. </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section
                        class="elementor-section elementor-inner-section elementor-element elementor-element-e4560d9 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-invisible"
                        data-id="e4560d9" data-element_type="section"
                        data-settings="{&quot;animation&quot;:&quot;fadeIn&quot;,&quot;animation_delay&quot;:400}">
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-232c796"
                                data-id="232c796" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-fef2147 elementor-position-left elementor-mobile-position-left elementor-view-default elementor-vertical-align-top elementor-widget elementor-widget-icon-box"
                                        data-id="fef2147" data-element_type="widget"
                                        data-widget_type="icon-box.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-icon-box-wrapper">
                                                <div class="elementor-icon-box-icon">
                                                    <span class="elementor-icon elementor-animation-">
                                                        <i aria-hidden="true" class="mdi mdi-help-circle-outline"></i>
                                                    </span>
                                                </div>
                                                <div class="elementor-icon-box-content">
                                                    <div class="elementor-icon-box-title">
                                                        <span>
                                                            How do I make payments for ByteSkill courses? </span>
                                                    </div>
                                                    <p class="elementor-icon-box-description">
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                                        do eiusmod tempor incididunt ut labore et dolore magna
                                                        aliqua, ut enim ad minim veniam. </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-1c969d8"
                                data-id="1c969d8" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-5d7749c elementor-position-left elementor-mobile-position-left elementor-view-default elementor-vertical-align-top elementor-widget elementor-widget-icon-box"
                                        data-id="5d7749c" data-element_type="widget"
                                        data-widget_type="icon-box.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-icon-box-wrapper">
                                                <div class="elementor-icon-box-icon">
                                                    <span class="elementor-icon elementor-animation-">
                                                        <i aria-hidden="true" class="mdi mdi-help-circle-outline"></i>
                                                    </span>
                                                </div>
                                                <div class="elementor-icon-box-content">
                                                    <div class="elementor-icon-box-title">
                                                        <span>
                                                            Does ByteSkill offer free trials? </span>
                                                    </div>
                                                    <p class="elementor-icon-box-description">
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                                        do eiusmod tempor incididunt ut labore et dolore magna
                                                        aliqua, ut enim ad minim veniam. </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
    <section
        class="elementor-section elementor-top-section elementor-element elementor-element-2eecced elementor-section-boxed elementor-section-height-default elementor-section-height-default"
        data-id="2eecced" data-element_type="section">
        <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-afdd5b1 elementor-invisible"
                data-id="afdd5b1" data-element_type="column"
                data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;fadeIn&quot;,&quot;animation_delay&quot;:200}">
                <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-background-overlay"></div>
                    <section
                        class="elementor-section elementor-inner-section elementor-element elementor-element-b3aa7bc elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                        data-id="b3aa7bc" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-3f9f1a5"
                                data-id="3f9f1a5" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-3dfa336 elementor-widget elementor-widget-image"
                                        data-id="3dfa336" data-element_type="widget" data-widget_type="image.default">
                                        <div class="elementor-widget-container">
                                            <img decoding="async" width="235" height="70"
                                                src="../static/uploads/sites/9/2023/07/bg_img.png"
                                                class="attachment-full size-full wp-image-352" alt="" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-45b46a2"
                                data-id="45b46a2" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-d681aae elementor-widget elementor-widget-heading"
                                        data-id="d681aae" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h3 class="elementor-heading-title elementor-size-default">Still have
                                                questions?</h3>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-7ebf5e5 elementor-widget elementor-widget-text-editor"
                                        data-id="7ebf5e5" data-element_type="widget"
                                        data-widget_type="text-editor.default">
                                        <div class="elementor-widget-container">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
                                                tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-6f6aa0c"
                                data-id="6f6aa0c" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-4a0e158 elementor-align-right elementor-mobile-align-center elementor-widget elementor-widget-button"
                                        data-id="4a0e158" data-element_type="widget" data-widget_type="button.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-button-wrapper">
                                                <a class="elementor-button elementor-button-link elementor-size-md"
                                                    href="#">
                                                    <span class="elementor-button-content-wrapper">
                                                        <span class="elementor-button-icon elementor-align-icon-right">
                                                            <i aria-hidden="true"
                                                                class="icomoon icomoon-arrow-right2"></i> </span>
                                                        <span class="elementor-button-text">Contact us</span>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
    <section
        class="elementor-section elementor-top-section elementor-element elementor-element-97f4b26 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
        data-id="97f4b26" data-element_type="section"
        data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
        <div class="elementor-background-overlay"></div>
        <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-0da0f85"
                data-id="0da0f85" data-element_type="column">
                <div class="elementor-widget-wrap elementor-element-populated">
                    <section
                        class="elementor-section elementor-inner-section elementor-element elementor-element-d1c29a4 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                        data-id="d1c29a4" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-b1690ca elementor-invisible"
                                data-id="b1690ca" data-element_type="column"
                                data-settings="{&quot;animation&quot;:&quot;fadeInDown&quot;}">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-661f884 elementor-widget elementor-widget-heading"
                                        data-id="661f884" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h2 class="elementor-heading-title elementor-size-default">Get in touch
                                                with our friendly support team</h2>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-27d0897 elementor-widget elementor-widget-text-editor"
                                        data-id="27d0897" data-element_type="widget"
                                        data-widget_type="text-editor.default">
                                        <div class="elementor-widget-container">
                                            <p>Our business hours are 9AM-6PM ET Monday-Friday and 9AM-5PM ET on
                                                weekends.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section
                        class="elementor-section elementor-inner-section elementor-element elementor-element-798a481 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                        data-id="798a481" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-0603100 elementor-invisible"
                                data-id="0603100" data-element_type="column"
                                data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;fadeInLeft&quot;}">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-340d5ae elementor-view-stacked elementor-shape-circle elementor-position-top elementor-mobile-position-top elementor-widget elementor-widget-icon-box"
                                        data-id="340d5ae" data-element_type="widget"
                                        data-widget_type="icon-box.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-icon-box-wrapper">
                                                <div class="elementor-icon-box-icon">
                                                    <span class="elementor-icon elementor-animation-">
                                                        <i aria-hidden="true" class="mdi mdi-message-text-outline"></i>
                                                    </span>
                                                </div>
                                                <div class="elementor-icon-box-content">
                                                    <div class="elementor-icon-box-title">
                                                        <span>
                                                            Free Consultations </span>
                                                    </div>
                                                    <p class="elementor-icon-box-description">
                                                        Velit blandit praesent sem vivamus aenean finibus si
                                                        hendrerit cubilia nascetur pretium </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-7b416f7 elementor-align-center elementor-widget elementor-widget-button"
                                        data-id="7b416f7" data-element_type="widget" data-widget_type="button.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-button-wrapper">
                                                <a class="elementor-button elementor-button-link elementor-size-xs"
                                                    href="#">
                                                    <span class="elementor-button-content-wrapper">
                                                        <span class="elementor-button-text">Let's Talk</span>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-3e62c6d elementor-invisible"
                                data-id="3e62c6d" data-element_type="column"
                                data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;fadeInUp&quot;}">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-bbfbcba elementor-view-stacked elementor-shape-circle elementor-position-top elementor-mobile-position-top elementor-widget elementor-widget-icon-box"
                                        data-id="bbfbcba" data-element_type="widget"
                                        data-widget_type="icon-box.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-icon-box-wrapper">
                                                <div class="elementor-icon-box-icon">
                                                    <span class="elementor-icon elementor-animation-">
                                                        <i aria-hidden="true" class="mdi mdi-email-edit-outline"></i>
                                                    </span>
                                                </div>
                                                <div class="elementor-icon-box-content">
                                                    <div class="elementor-icon-box-title">
                                                        <span>
                                                            Ticket Support </span>
                                                    </div>
                                                    <p class="elementor-icon-box-description">
                                                        Velit blandit praesent sem vivamus aenean finibus si
                                                        hendrerit cubilia nascetur pretium </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-ebe4fcd elementor-align-center elementor-widget elementor-widget-button"
                                        data-id="ebe4fcd" data-element_type="widget" data-widget_type="button.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-button-wrapper">
                                                <a class="elementor-button elementor-button-link elementor-size-xs"
                                                    href="#">
                                                    <span class="elementor-button-content-wrapper">
                                                        <span class="elementor-button-text">Send Ticket</span>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-f5acb0e elementor-invisible"
                                data-id="f5acb0e" data-element_type="column"
                                data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;fadeInRight&quot;}">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-69a476a elementor-view-stacked elementor-shape-circle elementor-position-top elementor-mobile-position-top elementor-widget elementor-widget-icon-box"
                                        data-id="69a476a" data-element_type="widget"
                                        data-widget_type="icon-box.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-icon-box-wrapper">
                                                <div class="elementor-icon-box-icon">
                                                    <span class="elementor-icon elementor-animation-">
                                                        <i aria-hidden="true" class="mdi mdi-file-document-outline"></i>
                                                    </span>
                                                </div>
                                                <div class="elementor-icon-box-content">
                                                    <div class="elementor-icon-box-title">
                                                        <span>
                                                            Article & News </span>
                                                    </div>
                                                    <p class="elementor-icon-box-description">
                                                        Velit blandit praesent sem vivamus aenean finibus si
                                                        hendrerit cubilia nascetur pretium </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-deec8c8 elementor-align-center elementor-widget elementor-widget-button"
                                        data-id="deec8c8" data-element_type="widget" data-widget_type="button.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-button-wrapper">
                                                <a class="elementor-button elementor-button-link elementor-size-xs"
                                                    href="#">
                                                    <span class="elementor-button-content-wrapper">
                                                        <span class="elementor-button-text">Read Article</span>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock %}