{% extends "base.html" %} {% load static %}

{% block mytitle %}
<title>FEEDBACK PAGE</title>
{% endblock %}

{% block feedback_active %} active {% endblock %} {% block body %}
  {% include 'dashboard/sidebar.html' %}

  <main class="main-content position-relative border-radius-lg ">



    <div class="row">
      <div class="alert alert-light" role="alert">
        <strong>We</strong> Love To Hear From You
      </div>


      {% for message in messages %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <span class="alert-icon"><i class="ni ni-like-2"></i></span>
        <span class="alert-text"><strong>Thank</strong> You For Your Valuable Feedback!</span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}

      <div class="container-fluid py-4">
        <form class="ml-lg-12" method="post">

          {% csrf_token %}

          <div class="form-group">
            <label for="exampleFormControlInput1">Username</label>
            <input type="email" class="form-control is-valid" id="exampleFormControlInput1"
              value="{{ student.username }}" disabled>
          </div>

          <div class="form-group">
            <label for="exampleFormControlInput1">Email</label>
            <input type="email" class="form-control is-valid" id="exampleFormControlInput1" value="{{ student.email }}"
              disabled>
          </div>


          <div class="form-group">
            <label for="exampleFormControlTextarea1">Your Message</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" name="message" rows="5" required></textarea>
          </div>

          <button type="submit" class="btn btn-success btn-lg w-100">Submit</button>


        </form>
      </div>
    </div>

  </main>

  {% endblock %}